@using Microsoft.AspNetCore.Authorization
@page "/allPatients"
@attribute [Authorize(Roles = "Doctor")]

<style>
    .user-table-container{
        margin: 5em;
        border: 2px solid #97bff7;
        border-radius: 3em;
        padding: 1em;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        background-color: #97bff7;
    }

    .user-table-container  > table > thead{
        background-color: #97bff7;
    }

    .user-table-container > table > tbody > tr:nth-child(odd){
        background-color:#fff;
   }

   .table-a{
       background-color: transparent;
       border:none;
        color: #365785;
       font-weight:bold;
       text-decoration:none;
   }

    .table-a:hover{
       color: #78aaf0;
    }
 </style>

@if (Users != null)
{
    <div class="user-table-container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Vorname</th>
                    <th scope="col">Familienname</th>
                    <th scope="col">Geburtsdatum</th>
                    <th scope="col">Ort</th>
                    <th scope="col">Strasse</th>
                    <th scope="col">E-Mail</th>
                    <th scope="col">Rechung</th>
                    <th scope="col">Termin</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Users)
                {
                    <tr>
                        <th scope="row">@user.Firstname</th>
                        <td>@user.Lastname</td>
                        <td>@user.Birthdate</td>
                        <td>@user.Town.PLZ @user.Town.Name</td>
                        <td>@user.Street</td>
                        <td>@user.Email</td>
                        <td><a href="#" class="table-a">Rechnung</a></td>
                        <td><a href="#" class="table-a">Termin</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}