@using Microsoft.AspNetCore.Authorization
@page "/allPatients"
@attribute [Authorize(Roles = "Doctor")]

<link rel="stylesheet" href="Styles/TableStyle.css">

@if (Users != null)
{
    <div class="user-table-container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Vorname</th>
                    <th scope="col">Familienname</th>
                    <th scope="col">Geburtsdatum</th>
                    <th scope="col">Ort</th>
                    <th scope="col">Strasse</th>
                    <th scope="col">E-Mail</th>
                    <th scope="col">Rechung</th>
                    <th scope="col">Termin</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Users)
                {
                    <tr>
                        <th scope="row">@user.Firstname</th>
                        <td>@user.Lastname</td>
                        <td>@user.Birthdate</td>
                        <td>@user.Town.PLZ @user.Town.Name</td>
                        <td>@user.Street</td>
                        <td>@user.Email</td>
                        <td><a href="/bills?patientId=@user.Id" class="table-a">bestehende Rechnungen</a></td>
                        <td><a href="/createbill/@user.Id" class="table-a">Rechnung erstellen</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}