@page "/bills"
@using MedicDomusLK.Data.Models.Enums
@using Microsoft.AspNetCore.Authorization
@inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthenticationStateProvider

@rendermode InteractiveServer

<link rel="stylesheet" href="Styles/TableStyle.css">

<div class="user-table-container">
    @if (isUserAuthenticated)
    {
        @if (Bills != null)
        {
            foreach (var bill in Bills)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Rechnungsnr.</th>
                            <th scope="col">Datum</th>
                            <th scope="col">Arzt</th>
                            <th scope="col">Patient</th>
                            <th scope="col">Betrag</th>
                            <th scope="col">Dienstleistungen</th>
                            <th scope="col">Bezahlt</th>
                            <th>Herunterladen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">@bill.Id</th>
                            <td>@bill.Date</td>
                            <td>Dr. @bill.Doctor.Firstname @bill.Doctor.Lastname</td>
                            @if (bill.Patient.Gender == Gender.Male)
                            {
                                <td>Herr @bill.Patient.Firstname @bill.Patient.Lastname</td>
                            }
                            else if (bill.Patient.Gender == Gender.Female)
                            {
                                <td>Frau @bill.Patient.Firstname @bill.Patient.Lastname</td>
                            }
                            else
                            {
                                <td>@bill.Patient.Firstname @bill.Patient.Lastname</td>
                            }
                            <td>@bill.Price</td>
                            <td>@String.Join(", ", bill.Services.Select(s => s.Name))</td>
                            @if (User.IsInRole("Doctor"))
                            {
                                <td>
                                    <label>
                                        Bezahlt:
                                        <InputCheckbox @bind-Value="bill.Paid" @oninput="() => CheckboxChanged(bill.Id, bill.Paid)"></InputCheckbox>
                                    </label>
                                </td>
                            }
                            else
                            {
                                <td>
                                    @if (bill.Paid)
                                    {
                                        <label>Ja</label>
                                    }
                                    else
                                    {
                                        <label>Nein</label>
                                    }
                                </td>
                            }
                            <td><a href="pdfdownload/@PatientId/@bill.Id" class="download-button"><svg style="text-align:center; display:block; width:20px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 242.7-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7 288 32zM64 352c-35.3 0-64 28.7-64 64l0 32c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-32c0-35.3-28.7-64-64-64l-101.5 0-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352 64 352zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z" /></svg></a></td>
                        </tr>
                    </tbody>
                </table>
            }
        }
    }
    else
    {
        <p>Please log in to view the bills.</p>
    }
</div>

