@page "/createbill/{PatientId}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Doctor")]
@rendermode InteractiveServer

<style>
   
    .bill-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #e6f7ff;
    }

    /* Bill Form */
    .bill-form {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 600px;
    }

        .bill-form h1 {
            text-align: center;
            color: #007bff;
            margin-bottom: 20px;
        }

    .form-group {
        margin-bottom: 15px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        border:none;
        border-bottom: 1px solid #ccc;
        margin-bottom: 5px;
    }

    .form-control:focus {
        border-color: #007bff;
        outline: none;
    }

    .btn-submit {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        transition: background-color 0.3s ease;
    }

        .btn-submit:hover {
            background-color: #0056b3;
        }

    .form-check-input {
        margin-top: 5px;
    }

    .title{
        font-size:1.3em;
    }

</style>


 @if (patient != null && doctors != null && services != null)
{
    <div class="bill-container">
        <div class="bill-form">
            <EditForm Model="@bill" OnSubmit="HandleValidSubmit">
                <h2 style="text-align:center;">Rechnung</h2>
                <div class="form-group">
                    <h6 style="text-align:end;">Datum: <span>@DateTime.Now.ToString("dd.MM.yyyy")</span></h6>
                </div>
                <div class="form-group">
                    <label class="title" for="patient">Patient:</label>
                    <label class="content" id="patient">@patient.Firstname @patient.Lastname</label>
                </div>
                <div class="form-group">
                    <label for="doctor">Arzt:</label>                
                    <InputSelect @bind-Value="bill.DoctorId" class="form-control">
                        @foreach (var doc in doctors)
                        {
                            <option value="@doc.Id">Dr. @doc.Firstname @doc.Lastname</option>
                        }
                    </InputSelect>
                </div>
                <div class="form-group">
                    <label for="price"><b>Dienstleisung:</b></label>
                    @foreach(var s in addedServices)
                    {
                        <p style="margin:0">@s.Name -  @s.Price</p>
                    }
                    <label></label>
                </div>
                <hr />
                <p style="text-align:end;">@Price€</p>
                <button type="submit" class="btn-submit"><b>Rechnung Erstellen</b></button>
            </EditForm>

            <EditForm style="display:flex; margin-top:1em;" Model="@service" OnSubmit="AddService">
                <InputSelect @bind-Value="serviceId" class="form-control">
                    @foreach (var s in services)
                    {
                        <option value="@s.Id">@s.Name</option>
                    }
                </InputSelect>
                <button style="padding:0;width:40px;height:40px; margin-left:1em;" type="submit" class="btn-submit">
                    <svg style="text-align:center; display:block; margin:0 auto; padding:0; width:25px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z" />
                    </svg>
                </button>
            </EditForm>    
        </div>
    </div>
}