@page "/doctorinfo/{DoctorId:int}"
@using MedicDomusLK.Data.Models

@rendermode InteractiveServer

<link rel="stylesheet" href="Styles/DoctorInfo.css">

@if (entity != null)
{
    <section id="stark">
        <img class="nav-icon" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-right-128.png">
        <div class="profile-card">
            <div class="photo"><img src="@entity.Img" /></div>
            <div class="text-info-outer">
                <div class="text-info-inner">
                    <h3>@entity.Sector</h3>
                    <h1>Dr. @entity.Doctor.Firstname @entity.Doctor.Lastname</h1>
                    <h2>Bewertung: @entity.Score/10</h2>
                    <h2>Erfahrung: @entity.ExperienceYear Jahre</h2>
                    <p>@entity.Description</p>
                    <InputDate Type="InputDateType.DateTimeLocal" @bind-Value="doctorPatientService.DateStart" style="margin-bottom:1em;" id="startDate" max="@DateTime.Now.AddMonths(12).ToString("yyyy-MM-ddTHH:mm")"
                               min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" class="form-control" />
                    @if (services != null && doctorPatientService.Service != null)
                    {
                        <InputSelect @bind-Value="doctorPatientService.Service.Name" class="form-control">
                            <option></option>
                            @foreach (Service s in services)
                            {
                                <option value="@doctorPatientService.Service.Name">@s.Name</option>
                            }
                        </InputSelect>
                    }
                    <button @onclick="HandleClick" class="appointment-button">Termin vereinbaren</button>
                </div>
            </div>
        </div>
    </section>
}


<script>
    function reloadPage() {
        location.reload();
    }
</script>
